nav{
  text-align: center;
  border: 5px solid lightgreen;
  background-color: #000;
}
nav ul{
  list-style-type: none;
}
nav ul li{
  display:inline-block;
  margin-left:2%;
}
nav ul li a {
    text-decoration: none;
    margin-right: 30px;
}
nav ul li a:hover {
    color: lightgreen;
}
.barhome{
  color: #ccc;
  font-family:brush script mt;
  font-size: 300%;
}
.bar {
    color: red;
    font-size:250%;
}
#p1container{
  display: block;
  width: 100%;
  text-align: center;
}
#donate {
  width: 50%;
}
#p1container header{
  font-size: 48px;
  font-family: courier;
  color: #FF6600;
}
#p1wrapper {
  padding: 20px;
  font-family: Trebuchet;
  font-size: 20px;
  text-align: justify;
}
#docar, #poor, #help{
  float: right;
  padding-left: 10px;
}
#hope, #hap{
  float: left;
  padding-right: 10px;
}
#clear{
  clear: both;
}
#thank {
  width: 70%;
  padding: 20px;
  margin: 0 15%
}
