body {
	
	background-color: black;
	border: solid black 2px;
}

#p3container {
	max-width: 1200px;
	min-height: 400px;
	margin: 0 auto;
}

#p3header {
	margin-bottom: 20px;
}

#p3header h1 {
	background-color: black;
	font-size: 50px;
	margin: 0px 0px;
	height: 100px;
	text-align: center;
}

#circle_holder {
	width:200vx;
	height:200px;
	border:grey solid 1px ;
	background-color: blue;
	margin-bottom: 0px;	
}

.circle {
width:320px;
height:200px;
margin: 0px 20px 0px 50px;
border:1px solid black;
border-radius: 100px;
float:left;
background-color: red;
}

.circle p {
	width:400px;
	margin:0px auto;
	padding: 90px 10px 10px 10px;
	font-size: 20px;
}
#p3container img {
 	width: 1200px;
 	height: 800px;
 }
#square_holder {
	width:200vx;
	height:200px;
	border:1px solid black;
	background-color: blue;
}
.square {
	width:320px;
	height:200px;
	margin: 0px 20px 0px 50px;
	border:1px solid black;
	border-radius: 100px;
	float:left;
	background-color: red;
}
.square p {
	width:400px;
	margin:0px auto;
	padding: 90px 10px 10px 10px;
	font-size: 20px;
}
footer {
	padding-left: 20px;
}
#clear {
 	clear: both;
 }