body {
   background-color: #fff;
}
nav{
  text-align: center;
  border: 5px solid lightgreen;
  background-color: #000;
}
nav ul{
  list-style-type: none;
}
nav ul li{
	display:inline-block;
	/*text-decoration: none;*/
	margin-left:2%;
}
nav ul li a {
    text-decoration: none;
    margin-right: 30px;
}
nav ul li a:hover {
    color: lightgreen;
}
.barhome{
  color: #ccc;
  font-family:brush script mt;
  font-size: 300%;
}
.bar {
    color: red;
    font-size:250%;
}

/*.box {
		background-color: white;
		height:1000px;
}*/

/*header {
    float:left;
    color:white;
    font-family:brush script mt;
    
}*/    
/*.title {
    float:top;
}*/
#wrapper{
  width: 100%;
  margin: 0 auto;
}
#cleft {
    width: 20%;
    min-height: 1200px;
    margin: 0px;
    padding: 10px; 
    border: 5px solid red;
    background-color:#fff;
    float: left;
    /*clear: bottom;*/
}
#cleft p{
  width: 100%;
  font: 25px trebuchet; 
  color: #fff;
  padding: 10px;
  margin: -10px 0 80px -10px;
  text-align: center;
  background-color:blue;
  border-bottom: 5px solid red; 
}
.box {
  list-style-type: none;
  padding: 0 20px 0 0;
  margin-top: 80px;
}
#cleft li{
  text-align: center;
  font: 22px bold;
}
#cright{
    width: 74%;
    height: 1200px;
    margin: 0px;
    padding: 10px;
    border: 5px solid blue;
    color: red;
    font-size: 20px;
    text-align: center;
   /* background-color: #fff;*/
    float: right;
   /* clear: bottom;*/
}
h1 {
  text-align: center;
  color: blue;
  margin: -10px;
  padding: 15px;
  background-color: red;
  border-bottom: 5px solid blue;
}
#cright p{
  text-align: justify;
  color: blue;
}
#cright li{
  text-align: center;
  color: blue;
  margin-top: 0px;
} 
.happybox{
list-style-type: none;
  padding: 0 20px 0 0;
  margin-top: 0px;
}
#clear{
  clear: both;
}
/*.footer-bottom {
  	float:bottom;
  	width: 98%;
  	height: 0%;
  	border-style:solid;
  	color:lightgreen;
  	background-color:black;
}*/
/*.titlesize {
	 text-align:center;
	 color: white;
}
.titlesize2 {
	 text-align:center;
	 color: white;
	 font-size:200%;
}*/

/*.bluebuy {
	 color:blue;
   font-size:80%;
}*/
/*.song {
    text-align:center;
		font-size: 75%
}*/
/*.imagecenter {
  	margin-left: 0 auto; 
  	margin-right: 0 auto;
  	display: 0 auto;
}*/
