li {
				display:inline;
				text-decoration: none;
				margin-left:2%;
			}
			.box {
				background-color: white;
				height:1000px;
			}
			a:hover {
				text-decoration: none

			}
			header {
				float:left;
				color:white;
				font-family:brush script mt;
				font-size: 300%;
			}
			#link1, #link2, #link3 {
				font-size:250%;
			}
			.title {float:top;}
			#link1 {
				color: red;
			}
			#link2, {
				color: blue;
			}
			#link3 {
				color: lightgreen;
			}
			.column-right {
  			float: right;
  			clear: bottom;
  			width: 24%;
  			border-style:double;
  			border-color:blue;
  			background-color:blue;
  			}
  			.column-left {
  			float: right;
  			clear: bottom;
  			width: 74%;
  			border-style:solid;
  			border-color:red;
  			color: red;
  			background-color:red;
  			}
  			P.
  			.footer-bottom {
  				float:bottom;
  				width: 98%;
  				height: 0%;
  				border-style:solid;
  				color:lightgreen;
  				background-color:black;
  			}
  			.titlesize {
  				text-align:center;
  				color: white;
  			}
  			.titlesize2 {
  				text-align:center;
  				color: white;
  				font-size:200%;
  			}
  			body {
  				background-color: black
  			}
  			.bluebuy {
  				color:blue;
  			}
  			.song {text-align:center;
  					font-size: 75%
  			}
  			.imagecenter {
  				margin-left: 0 auto; 
  				margin-right: 0 auto;
  				display: 0 auto;
  			}
  			.bluebuy {
  				font-size:80%;
  			}