

body {
	
	background-color: #999999;
	border: solid black 2px;
}

#container {
	max-width: 1200px;
	min-height: 400px;
	margin: 0 auto;

}

#header {
	margin-bottom: 20px;
}

h1 {
	background-color: #707070;
	font-size: 50px;
	margin: 0px 0px;
	height: 100px;
	text-align: center;
}


#circle_holder {
	width:200vx;
	height:200px;
	border:grey solid 1px ;
	background-color: #B5B5B5;
	margin-bottom: 0px;
	
}

	.circle {
		width:320px;
		height:200px;
		margin: 0px 20px 0px 50px;
		border:1px solid black;
		border-radius: 100px;
		float:left;
		background-color: #D6D6D6;
}

	.circle p {
		width:400px;
		margin:0px auto;
		padding: 90px 10px 10px 10px;
		font-size: 20px;
	}

 img {
 	width: 1200px;
 	height: 800px;
 }

 #clear {
 	clear: both;
 }

	#square_holder {
	width:200vx;
	height:200px;
	border:1px solid grey;
	background-color: #B5B5B5;
	}

	.square {
		width:320px;
		height:200px;
		margin: 0px 20px 0px 50px;
		border:1px solid black;
		border-radius: 100px;
		float:left;
		background-color: #D6D6D6;
}

	.square p {
		width:400px;
		margin:0px auto;
		padding: 90px 10px 10px 10px;
		font-size: 20px;
	}


	footer {
		padding-left: 20px;
	}